.body{
    color: black;
}

.email {
    cursor: pointer;
}

.entry-dot {
    color: black;
}

.shift-block{
    width: 4px;
    background-color: #41BE7D;
    margin-right: 8px;
    border-radius: 0 0 18px 18px
}

.field-container {
    border-style: groove;
    padding: 15px;
    border-color: #41BEBC;
}

.timeline-row {
    font-weight: 500;
}

