.header{
    height: 40px;
    background-color: #4182BE;
    position:absolute;
    left:0;
    right:0;
    top: 0;
}

.header-company {
    margin-right: 8px;
}

.user-card {
    margin-top: 10px;
}