<div fxFlexOffset="4" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
        <div fxFlexOffset="2">Hi, Andrei</div>
        <div class="header-company">Microsoft</div>
    </div>
    <div fxFlexOffset="5"fxLayoutGap="20px">
        <div fxFlexOffset="5"  fxLayoutGap="5px">
            <label>Filtrare: </label>
            <select (change)="filterByFavourite($event.target.value)">
                <option value="0">--Toti--</option>
                <option value="1">Recruti favoriti</option>
            </select>
        </div>
        <div fxLayoutGap="5px" (change)="order($event.target.value)">
            <label>Sortare: </label>
            <select>
                <option value="0">Alfabetic</option>
                <option value="1">Descrescator asteptpari salariale</option>
            </select>
        </div>
    </div>
    <div fxFlexOffset="5" fxLayoutGap="50px" class="parent" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="user-card" fxFlex.gt-sm="1 0 21%" *ngFor="let rectruit of recruitsFilteredByFavourite$ | async;">
            <app-user-card [recruit]="rectruit" (click)="openDialog(rectruit)"></app-user-card>
        </div>
    </div>
</div>