<!-- <div fxLayout="column" class="user-card">
    <div fxLayout="row" fxLayoutAlign="space-around" fxFlexOffset="5">
        <img class="profile-img" src="../../../../assets/profile.png">
    </div>
    <div fxLayout="row" 
    fxLayoutAlign="space-around" 
    fxFlexOffset="5">{{recruit.firstName}}</div>
    <div fxLayout="row" 
    fxLayoutAlign="space-around" 
    fxFlexOffset="5">{{lastJob}}</div>
</div> -->

<div >
    <div class="card card-user">
      <div class=" card-body">
        <p class=" card-text"></p>
        <div class=" author">
          <div class=" block block-one"></div>
          <div class=" block block-two"></div>
          <div class=" block block-three"></div>
          <div class=" block block-four"></div>
          <a href="javascript:void(0)">
            <img alt="..." class=" avatar" src={{imagepath}} />

            <h5 class=" title">{{recruit.firstName}}&nbsp;{{recruit.lastName}}</h5>
          </a>
          <p class=" description">{{jobToApplyFor}}</p>
          <p class=" description">{{recruit.salary}}&nbsp;RON</p>
          <app-favourite-button [disabled]="true" [recruit]="recruit"></app-favourite-button>
        </div>
      </div>
      <div class=" card-footer">
        <div class=" button-container">
          <button
            class=" btn btn-icon btn-round btn-google"
            href="javascript:void(0)" >
          </button>
        </div>
      </div>
    </div>
  </div>
